h1 {
	padding-top: 25px;
	text-align: center;
	border-bottom:5px solid #ff0000;
	color: #ff0000;
}
h2 {
	color: #0000ff;
	border-bottom: 3px solid;
}
p {
	padding-left: 25px;
}
#right {
	border-style: solid;
	border-width: 2px;
	border-color:#0000ff ;
	width: 25%;
	padding: 0px;
	margin: 0px;
	float: right;
}
#left {
	width: 74.5%;
	padding: 0px;
	margin: 0px;
}